footer {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #0059af;
 	background-size: 100%;
}

footer h3{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    display: inline-block;
    color:#fff;
    padding-top: 20px;
}

footer h5{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color:#bdc3c7;
}

footer .segment{
    padding-bottom: 40px;
}

footer .social a{
    display: inline-block;
    padding: 6px;
    color: #bdc3c7;
}

footer h5:hover {
	color: #fff;
	cursor: pointer;
}

footer .social a:hover{
    color: #fff;
    cursor: pointer;
}

footer .copynote{
    padding: 20px 0;
    margin-top: 40px;
    background: #004c96; 

}

footer .copynote p {
	color: #fff;
}

footer .copynote p a:hover {
	text-decoration: none;
	color: #fff;
}

footer .copynote p a:visited {
    text-decoration: none;
    color: #fff;
}

footer .copynote p a:active {
    text-decoration: none;
    color: #fff;
}


/*=================================================================
    Testimonials
==================================================================*/

.animated {
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
}
.pricing-slide{
    background: url(../img/testimonios-3.png);
    background-repeat: no-repeat;
    background-position: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
}
/*.pricing-slide h1{
    margin-bottom: 10px;
    color: #fff;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}*/
#testimonials .pricing-slide-heading p{
    color: #fff;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 50px;
    font-style: normal;
    margin-top: 20px;
}

#testimonials .pricing-slide-heading img{
    margin-top: 0;
}

.pricing-slide p{
    font-size: 24px;
    color: #fff;
    font-style: italic;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 25px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
.item img{
    float: left;
    margin-right: 20px;
    margin-bottom: 200px;
}
.item h5{
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.item h6{
    font-size: 16px;
    color: #fff;
    padding-top: 12px;
}



@media (min-width: 992px) and (max-width: 1199px) {
    .testimonials p.speech{
        padding-top: 20px;
        margin: 20px;
        font-size: 22px;
        position: relative;
        text-align: center;
        line-height: 1.5;
        font-weight: bold;
        color: #fff;
    }
}

@media (min-width: 768px) and (max-width: 991px) {


}

