footer {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #0059af;
 	background-size: 100%;
}

footer h3{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    display: inline-block;
    color:#fff;
    padding-top: 20px;
}

footer h5{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color:#bdc3c7;
}

footer .segment{
    padding-bottom: 40px;
}

footer .social a{
    display: inline-block;
    padding: 6px;
    color: #bdc3c7;
}

footer h5:hover {
	color: #fff;
	cursor: pointer;
}

footer .social a:hover{
    color: #fff;
    cursor: pointer;
}

footer .copynote{
    padding: 20px 0;
    margin-top: 40px;
    background: #004c96; 

}

footer .copynote p {
	color: #fff;
}

footer .copynote p a:hover {
	text-decoration: none;
	color: #fff;
}

footer .copynote p a:visited {
    text-decoration: none;
    color: #fff;
}

footer .copynote p a:active {
    text-decoration: none;
    color: #fff;
}


/*=================================================================
    Testimonials
==================================================================*/

#slide5{
    background-size: contain;
    background-position: bottom;
    background-repeat:no-repeat;
    height: 600px !important;
    background-attachment: fixed;
    top: 50px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    /*background: url(../img/testimonios.png);*/

}

.testimonials h1{
    margin: 0;
    padding: 0;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.testimonials p.speech{
    padding: 40px;
    margin: 20px;
    font-size: 20px;
    position: relative;
    text-align: center;
    line-height: 1.5;
    background-color: #fff;
    border: 2px solid #0059af; /* Primary color, can be changed via colors.css */
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.testimonials p.speech:before{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 80px;
    top: 100%;
    border: 15px solid;
    border-color: #0059af transparent transparent #0059af; /* Primary color, can be changed via colors.css */

}

.testimonials p.speech:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 83px;
    top: 100%;
    border: 12px solid;
    border-color: #fff transparent transparent #fff;
}

.client-info{
    padding: 50px;

}

.client-info h4{
    color: #0059af; /* Primary color, can be changed via colors.css */
    margin: 10px 0 0 0;
    padding: 0;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.client-info span{
    display: block;
    padding: 5px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.client-info img{
    border:2px solid #fff;
    padding: 2px;
    border-radius: 50px;
    height:100px;
    width: 100px;
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
       -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
            box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

#slide5 .testimonials-title {
    padding-top: 20px;

}

#slide5 .testimonials-title h2 {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

#slide5 .testimonials-title h3 {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

