/*= GENERAL STYLING
--------------------------------------------------------*/

body{
	margin: 0;
	width: 100%;
	padding-top: 80px; 
}

h1 {
  font-family:"Arvo";
	font-weight:normal;
	font-size: 55px;
	text-align: center;

	margin: 0;
	padding: 0;
}

h2 {
   font-family:"Arvo";
   font-weight: normal;
   font-size: 40px;
   text-align: center;

   margin: 0;
   padding: 0;
}

h3 {
   font-family: Oswald;
   font-weight: normal;
   font-size: 16px;
   text-align: center;
   margin: 5px 0;
   padding: 0;
   z-index: 1;
   position: relative;
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }
a.lpanel { float: left; color: #e1e1e1; font-size: 12px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }
a.rpanel { float: right; color: #e1e1e1;  font-size: 12px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }

a.lpanel:hover{ color: #fff; }
a.rpanel:hover{ color: #fff; }



/* NAVBAR
--------------------------------------------------------*/
.navbar {
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 14px;
	width: 100%;

}

.navbar-nav  li a:hover {
	color: #000000 !important;
}

.navbar-brand {
    padding: 0;
}


/* SLIDER
--------------------------------------------------------*/

#home{
  	padding: 0;
  	overflow: hidden;
  	position:relative;
  	height: 557px;
	width: 100%;
}

#main-carousel .carousel-inner .item {
	background-size: all;
	background-position: center;
	background-repeat:no-repeat;
	height: 557px !important;
}

#main-carousel .carousel-indicators { 
	bottom: 0px;
}

#main-carousel .carousel-indicators li{
	background: rgba(0, 0, 0, 0);
	border: 1px solid #2980b9;
	width: 13px;
	height: 13px;
	margin-left: 5px;
	text-indent: -9999px;
	display: inline-block;
}

.carousel-indicators .active{
	background-color: #2980b9 !important;
	
}

.slider-content {
	height: 100%;
}

#main-carousel .carousel-caption {
	display: table;
	height: 100%;
	width: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	z-index: 11;
}

#main-carousel .carousel-caption > div{
    vertical-align: middle;
    display: table-cell;
}

#main-carousel .carousel-inner h2 {
	color: #f6f6f6;
	display: inline-block;
	font-family: Arial;
	font-size: 55px;
	font-weight: 800;
	margin-bottom: 40px;
	text-shadow: none;
	text-transform: uppercase;
}

#main-carousel .carousel-inner h2 span{
  color:#7ab700;
}

#main-carousel .carousel-inner p {
	color: #000;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 26px;
	font-weight: 300;
	position: absolute;
	bottom: 0;
	right: 150px;
	text-align: right;
	text-shadow:none;
}

#main-carousel .carousel-left{
	left:-50px;
}

#main-carousel .carousel-right{
	right:-50px;
}

#main-carousel:hover .carousel-left{
	left:0px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

#main-carousel:hover .carousel-right{
	right:0px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

#main-carousel .carousel-left,
#main-carousel .carousel-right{
	padding: 15px;
	z-index: 12;
	font-size: 60px;
	color: #2980b9;
	top: 40%;
	position: absolute;
	margin-top: -60px;
	text-align: center;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

.carousel-right {
  right:65px
}

.carousel-left {
  left:65px
}

#main-carousel .carousel-left:hover,
#main-carousel .carousel-right:hover{
	color: #3498db;
}
