*  {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8;
	color: #000000;

}

p {font-size: 16px;}


.navbar {
	padding-top: 5px;
	padding-bottom: 5px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0 !important;
	font-size: 14px;
	
}

.navbar-nav  li a:hover {
	color: #000000 !important;
}

section{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 1100px;
	margin: 0 auto;
	max-width: 1440px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100% !important;
}

#bloque1 {
	background-image: url(../img/1.png);

}

#bloque2 {
	background-image: url(../img/2.png);
}

#bloque3 {
	background-image: url(../img/3.jpg);
}

#bloque1 h1{
	text-align: right;
}
#bloque1 h2{
	text-align: right;
}

