.navbar-header img {
    max-height: 100%;
    width: auto;
    padding-left: 50px;
}

.navbar-brand {
    height: 80px;
}

.main_container {
  padding: 0 ;

}

#main_container {
  position: absolute;
  width: 100%;
}

#home0 .image-home {
	background-size: contain;
	background-position: bottom;
	background-repeat:no-repeat;
	height: 600px !important;
	background-attachment: fixed;	
}

#home1 .image-home {
	background-size: contain;
	background-position: bottom;
	background-repeat:no-repeat;
	height: 600px !important;
	background-attachment: fixed;
	top: 50px;
}

#home2 .image-home {
	background-size: contain;
	background-position: bottom;
	background-repeat:no-repeat;
	height: 600px !important;
	background-attachment: fixed;
	top: 50px;
}

.contact_container {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  margin: auto;
  width: 60%;
  height: auto;
  background-color: white;
}

.contact_form {
  height: 100%;
}

.contact_form_title {
  text-align: left;
  border-bottom: solid 0.5px #A4A4A4;
  padding: 4px;
  margin-bottom: 5px;
}

#contact_information_container {
  font-size: 18px;
  background-color: #0059af;
  align-items: stretch;
}

#contact_form_container {
  font-size: 14px;
  background-color: white;
  align-items: stretch;
}

.contact_container h3{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.contact_container .symbols{
  color: #fff;
  font-size: 18px;
}